.vs/
bin/
build/
x64/
NanoLLM/x64/

# Prerequisites
*.d

# Compiled object and intermediate files
*.slo
*.lo
*.o
*.obj
*.iobj
*.idb

# Precompiled headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger and debug information files
*.pdb
*.ipdb
*.dwo

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables and app bundles
*.exe
*.out
*.app

# Visual Studio user and build logs
*.user
*.log
*.recipe
*.tlog
*.lastbuildstate

# Generated sample artifacts
*.voc
*.merges
*.tok
*.ids
*.emb
*.meta
*.lst
